
.booklist-status{
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
    color: red;
}

/* Container for book cards */
.bookList-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Individual book card */
.book-card {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    width: 200px;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Hide overflowing content */
}

/* Image container within the book card */
.book-card-img-container {
    margin: 7px 7px 0 7px;
    overflow: hidden; /* Hide overflowing image */
}

/* Image within the image container */
.book-card-img-container img {
    width: 100%;
    height: 250px;
    transition: 0.5s ;
}
.book-card-img-container img:hover {
    scale: 1.2;
}

/* Information container within the book card */
.book-card-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    text-align: left;
    color: black;
    padding: 10px;
    background-color: whitesmoke;
}

/* Title */
.book-card-information h2 {
    font-size: 0.9rem;
    margin: 0;
}

/* Author and other details */
.book-card-information p {
    font-size: 0.7rem;
    margin: 0.3rem 0;
}
.book-card-information p span{
    color: #999999;
}


.loading-gif{
    width: 50px;
    margin-top: 10px;
    margin-bottom: 50vh;
}

.read-link{
    font-size: 0.9rem;
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
    padding: 7px 2px;
    background-color: #0aa5ff;
    color: #f2f2f7;
}

.read-link:hover{
    color: red;
}










@media (max-width: 450px) {

    /* Individual book card */
    .book-card {
        width: 40vw;
    }

    /* Image container within the book card */
    .book-card-img-container {
        margin: 7px 7px 0 7px;
        overflow: hidden; /* Hide overflowing image */
    }

    /* Image within the image container */
    .book-card-img-container img {
        width: 100%;
        height: 45vw;
        transition: 0.5s ;
    }
    .book-card-img-container img:hover {
        scale: 1.2;
    }

    /* Information container within the book card */
    .book-card-information {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;

        text-align: left;
        color: black;
        padding: 10px;
        background-color: whitesmoke;
    }

    /* Title */
    .book-card-information h2 {
        font-size: 0.9rem;
        margin: 0;
    }

    /* Author and other details */
    .book-card-information p {
        font-size: 0.7rem;
        margin: 0.3rem 0;
    }
    .book-card-information p span{
        color: #999999;
    }


}






















































/*!* Container for book cards *!*/
/*.bookList-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*}*/

/*!* Individual book card *!*/
/*.book-card {*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*    padding: 7px;*/
/*    margin: 20px 10px;*/
/*    width: 200px;*/
/*    height: 300px;*/
/*    !*max-width: 100%; !* Ensure cards don't exceed their container *!*!*/

/*    background-color: whitesmoke;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/

/*    !*overflow: hidden; !* Hide overflowing content *!*!*/
/*}*/

/*!* Image container within the book card *!*/
/*.book-card-img-container {*/

/*    overflow: hidden; !* Hide overflowing image *!*/

/*    !*position: relative;*!*/
/*    !*flex: 1; !* Allow the image to grow and fill the card *!*!*/

/*}*/

/*!* Image within the image container *!*/
/*.book-card-img-container img {*/
/*    height: 100px;*/
/*    !*object-fit: cover;*!*/
/*}*/

/*!* Information container within the book card *!*/
/*.book-card-information {*/
/*    color: black;*/
/*    padding: 10px;*/
/*    background-color: whitesmoke;*/
/*}*/

/*!* Title *!*/
/*.book-card-information h2 {*/
/*    font-size: 1.2rem;*/
/*    margin: 0;*/
/*}*/

/*!* Author and other details *!*/
/*.book-card-information p {*/
/*    font-size: 0.9rem;*/
/*    margin: 0.3rem 0;*/
/*}*/
/*.book-card-information p span{*/
/*    color: #999999;*/
/*}*/

/*!* Book availability styling *!*/
/*.book-card-information p.available {*/
/*    color: #2ecc71; !* Green color for available *!*/
/*}*/

/*.book-card-information p.not-available {*/
/*    color: #e74c3c; !* Red color for not available *!*/
/*}*/
