.searchBook-div{
    margin-top: 5vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBook-div img {
    width: 100%;
    height: 40vw;
}

/* Style for the input field */
.searchBook-div input {
    font-size: medium;
    font-weight: 400;
    position: absolute;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid black;
    width: 40vw;
    height: 50px;

   
}
.searchBook-div input:focus {
    outline: none;
    border: 2px solid #0aa5ff;
}

@media (max-width: 900px) {

    .searchBook-div input {
        width: 65vw;
        height: 45px;
    }

}

@media (max-width: 630px) {
    .searchBook-div{
        margin-top: 9.5vw ;
    }
}