.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
}

.form {
    background-color: white;
    padding: 10%;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-headline {
    color: #595959;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    font-size: 30px;
}

.label {
    color: #595959;
    letter-spacing: 1px;
    font-weight: bolder;
}

.submit-btn {
    height: 43.5;
    font-weight: 500;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
  
.submit-btn:hover {
    background-color: #0056b3;
}

.input{
    font-size: 16px;
    padding: 6px 10px;
    height: 43.5px;
    margin: 8px 0;
    border: 1px solid #595959;
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }
.input:focus{
    outline: none;
    border: 1px solid #0aa5ff;
}

textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #595959;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    font-family: "inter", sans-serif;;
}

textarea:focus {
    outline: none;
    border: 1px solid #0aa5ff;
}

.contact-img {
    display: none;
    object-fit: cover;
}


@media only screen and (min-width: 700px) {
    .contact-wrapper {
        margin-top: 6vw;
        min-height: 100vh;
    }

    .contact-img {
        display: block;
        width: 50%;
        border-radius: 0 20px 20px 0;
    }
    .contact-card {
        flex-direction: row; 
        margin: 2.5rem 2% 10vh 2%;
        border-radius: 20px;
        box-shadow: 8px 8px 5px #9999;
    }

    .form {
        border-radius: 20px 0 0 20px; 
        padding: 3% 10%; 
        width: 50%;
    }

    .form-headline {
        font-size: 35px;
    }
}
@media only screen and (min-width: 1500px) {
    .contact-wrapper {
        margin-bottom: 0;
    }
    .contact-card {
        margin: 2.5rem 10% 10vh 10%;
    }
    .form-headline {
        font-size: 45px;
    }
    .contact-img {
        border-radius: 0 20px 20px 0;
    }
  }

