  
  .footer {
    margin-top: 100px;
    border:1px solid rgb(179, 162, 162);
    background-color: #F6FFFA;
    color: black;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    opacity: .5;
    display: flex;
  }

  
@media (max-width: 401px) {

.custom-button {
  margin-top: 20px;
}
}
  

/* 

  .custom-footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px 0;
  }
  
  .custom-container {
    padding: 20px;
  }
  
  .custom-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .custom-column {
    flex: 0 0 auto;
    margin: 10px;
  }
  
  .custom-text {
    flex: 1;
    text-align: right;
  }
  
  .custom-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .custom-footer-text {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    color: #333;
  }
  
  .custom-link {
    text-decoration: none;
    color: #333;
  } */


