#shlok-title {
  margin-top: 5rem;
  text-align: center;
  color: red;
}
#shlok-information {
  margin: 10px;
  text-align: center;
}
#shlok-information > p > span {
  margin-left: 20px;
  color: red;
}

.accordion-header {
  overflow: hidden;
}

.accordion-button {
  background: aliceblue;
}

.accordion-body {
  background: whitesmoke;
}

