@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body::-webkit-scrollbar{
  display: none;
}
.home-hr{
  margin-top: 10vw;
  width: 50%;
}

.div-featured h1{
  font-size: 3vw;
  text-align: center;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  margin: 20px;
}

.card-container .card {
  /* margin-top: 200px; */
  /* margin-left: 50px; */
  margin: 30px;
  margin-bottom: 50px;
  width: 200px;
  height: 300px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.card-container .card::before,
.card-container .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
  transition: 0.5s;
}
.card-container .card:hover::before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.card-container .card:hover::after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.img-box {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 4px;
  transition: 0.6s;
  z-index: 2;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  height: 45px;
  text-align: center;
  transition: 0.5s;
}
.text-box h2 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 1px;
}
.text-box span {
  font-size: 8px;
  text-transform: uppercase;
  color: rgb(139, 36, 199);
  color: #777;
}


.card-container .card:hover .img-box {
  bottom: 55px;
}


@media (max-width: 53rem) {
  .card-container .card {
        width: 170px;
        height: 230px;
    }

    .text-box {
      height: 55px;
    }
  .card-container .card:hover .img-box {
      bottom: 60px;
    }

    .div-featured h1{
      font-size: 4vw;
      text-align: center;
    }
}

@media (max-width: 700px) {

  .home-hr{
    margin-top: 20vw;
  }

}


@media (max-width: 479px) {
  

  .card-container{
    margin: 20px;
  }

  .card-container .card {
    margin: 17px;
    width: 135px;
    height: 200px;
  }

}




