#pagenotfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#pagenotfound-btn {
  color: white;
  font-weight: 600;
  background-color: black;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid black;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

#pagenotfound-btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
