#single-book-section{
    margin-top: 10vw;
}

.back-container{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
}

.back-container img{
    width: 25px;
    height: 25px;
}

.single-book-wrapper{
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#single-book-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


#single-book-section > div > button:hover {
    color: #504f4f;
}

#singlebook-details > #read-link-button{
    font-size: 1rem;
    color: #0aa5ff;
}
#singlebook-details > #read-link-button:hover{
    color: #038ede;
}



#loading-singleBook-gif {
    position: fixed;
    top: 50%; /* Set it at 50% from the top of the viewport */
    left: 50%; /* Set it at 50% from the left of the viewport */
    transform: translate(-50%, -50%); /* Center the element precisely */
    width: 50px;
}


#singlebook-img-container{
    overflow: hidden;
    margin: 10px;
    padding: 2px;
    width: 220px;
    height: 300px;
    border-radius: 5px;
}

#singlebook-title{
    font-size: 20px;
    font-weight: bold;
}

#singlebook-img-container img{
    border-radius: 5px;
}

#singlebook-img-container > img{
    width: 100%;
    transition: 0.5s ;
}

#singlebook-img-container > img:hover {
    scale: 1.2;
}


#singlebook-details{
    margin-left: 10px;
    border: 1px solid #bbbbbb;
    padding: 70px;
    border-radius: 8px;
    width: 53rem;
}

#place-and-time{
    display: flex;
    gap:10px;
    align-items: center;
}

#place-and-time #vertical-line{
    border-left: 1px solid;
    height: 15px;
}



@media  (max-width: 700px) {
    .single-book-wrapper{
        height: 70rem;
    }

    #single-book-section {
        margin-top: 5rem;
    }

    #single-book-container{
        flex-direction: column;
    }

    #singlebook-details{
        width: 25rem;
    }
}
